<table class="table table-striped">
    <thead>
    <tr>
        <th translate="ADMIN.ID"></th>
        <th translate="COMMON.LABEL.TITLE"></th>
        <th translate="COMMON.AUTHOR"></th>
        <th>{{ 'COMMON.LABEL.OPEN' | translate }}{{ 'COMMON.MARK.QUESTION' | translate }}</th>
        <th>{{ 'ADMIN.FEATURED' | translate }}{{ 'COMMON.MARK.QUESTION' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="project in admin.data.projects">
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.author.username}}</td>
        <td translate="ADMIN.YES" ng-show="project.open"></td>
        <td translate="ADMIN.NO" ng-hide="project.open"></td>
        <td>
            <b translate="ADMIN.YES" ng-show="project.featured"></b>
            <b translate="ADMIN.NO" ng-hide="project.featured"></b>
            <button class="btn btn-default btn-xs"
                    data-ng-click="actions.toggleFeatured(project)">
                <span ng-hide="project.featured" translate="ADMIN.FEATURE"></span>
                <span ng-show="project.featured" translate="ADMIN.UNFEATURE"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
