
<table class="table table-striped">
    <thead>
    <tr>
        <th translate="ADMIN.ID"></th>
        <th translate="COMMON.USERNAME"></th>
        <th translate="ADMIN.EMAIL"></th>
        <th>{{ 'COMMON.LABEL.ADMIN' | translate }}{{ 'COMMON.MARK.QUESTION' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in admin.data.users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <span data-ng-if="user.admin">
                <b translate="ADMIN.YES"></b>
                <button data-ng-if="user.id != status.profile.id"
                        class="btn btn-default btn-xs"
                        data-ng-click="actions.setAdmin(user.id, false)"
                        translate="ADMIN.REMOVE_PERMISSION">
                </button>
            </span>
            <span data-ng-if="!user.admin">
                {{ 'ADMIN.NO' | translate }}
                <button class="btn btn-default btn-xs"
                        data-ng-click="actions.setAdmin(user.id, true)"
                        translate="ADMIN.GRANT_PERMISSION">
                </button>
            </span>
        </td>
    </tr>

    </tbody>

</table>
