<div data-ng-if="adminAccess()" class="admin-page">
    <div class="admin-header">
        <span data-siw-menu-item data-menu-linked-state="'admin.users'" data-menu-label="'COMMON.USERS' | translate"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.projects'" data-menu-label="'COMMON.PROJECTS' | translate"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.texts'" data-menu-label="'ADMIN.TEXTS' | translate"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.reported'" data-menu-label="'ADMIN.REPORTED_CONTENT' | translate"></span>
    </div>

    <div class="admin-content" data-ui-view></div>
</div>

<div data-ng-if="!adminAccess()" class="admin-page">
    <p translate="ADMIN.NOT_ALLOWED"></p>
</div>
