<div class="profile-header">
    <span>
        <a href data-ng-click="loginMode.set('login')" data-ng-class="{'active': loginMode.is('login')}" translate="PROFILE.STATUS.SIGN_IN"></a>
    </span>
    <span>|</span>
    <span>
        <a href data-ng-click="loginMode.set('register')"
           data-ng-class="{'active': loginMode.is('register')}" translate="PROFILE.STATUS.REGISTER"></a>
    </span>
</div>
<div class="profile-page">

    <div class="profile-logged-out" data-ng-if="loginMode.is('login')">

        <div class="profile-logged-out-form-container">
            <p translate="PROFILE.STATUS.SIGN_IN_WITH_USERNAME_PWD"></p>

            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="login_username">{{ 'COMMON.USERNAME' | translate }}{{ 'COMMON.MARK.COLON' | translate }}</label>
                    <input id="login_username" type="text" class="form-control"
                           data-ng-model="login.editing.username"/>
                <span data-ng-if="login.error.username"
                      class="profile-login-username-error">{{login.error.username}}</span>
                </div>

                <div class="form-group">
                    <label for="login_password">{{ 'COMMON.PROFILE.PASSWORD.NOUN' | translate }}{{ 'COMMON.MARK.COLON' | translate }}</label>
                    <input id="login_password" type="password" class="form-control"
                           data-ng-model="login.editing.password"/>
                <span data-ng-if="login.error.password"
                      class="profile-login-password-error">{{login.error.password}}</span>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default"
                        data-ng-click="login.submit()"
                        translate="PROFILE.STATUS.SIGN_IN">
                    </button>
                </div>
            </form>
        </div>

        <div class="profile-logged-out-form-container">
            <p translate="PROFILE.PROVIDER.SIGN_IN"></p>

            <p>
                <img class="identity-provider" data-ng-click="providerLogin('google')"
                     src="media/sign-in-with-google.png"/>
                <img class="identity-provider" data-ng-click="providerLogin('facebook')"
                     src="media/facebook-login-button.png"/>
                <img class="identity-provider" data-ng-click="providerLogin('twitter')" src="media/TwitterLogin.png"/>
            </p>
        </div>
    </div>


    <div class="profile-logged-out" data-ng-if="loginMode.is('register')">

        <div class="profile-logged-out-register-form-container">
            <p>{{ 'PROFILE.REGISTER_ACCOUNT' | translate }}{{ 'COMMON.MARK.COLON' | translate }}</p>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="register_username" class="control-label">
                        {{ 'COMMON.USERNAME' | translate }}{{ 'COMMON.MARK.COLON' | translate }}
                    </label>

                    <div class="input-container">
                        <input id="register_username" type="text" class="form-control"
                               data-ng-model="register.editing.username"/>
                    </div>
                <span data-ng-if="register.error.username"
                      class="profile-login-username-error">{{register.error.username}}</span>
                </div>

                <div class="form-group">
                    <label for="register_email" class="control-label">
                        {{ 'COMMON.EMAIL' | translate }}{{ 'COMMON.MARK.COLON' | translate }}
                    </label>

                    <div class="input-container">
                        <input id="register_email" type="email" class="form-control"
                               data-ng-model="register.editing.email"/>
                    </div>
                <span data-ng-if="register.error.email"
                      class="profile-login-username-error">{{register.error.email}}</span>
                </div>

                <div class="form-group">
                    <label for="register_password" class="control-label">
                        {{ 'PROFILE.PASSWORD.NOUN' | translate }}{{ 'COMMON.MARK.COLON' | translate }}
                    </label>

                    <div class="input-container">
                        <input id="register_password" type="password" class="form-control"
                               data-ng-model="register.editing.password"/>
                    </div>
                <span data-ng-if="register.error.password"
                      class="profile-login-password-error">{{register.error.password}}</span>
                </div>
                <div class="form-group">
                    <label for="register_repeat_password" class="control-label">
                        {{ 'PROFILE.PASSWORD.REPEAT' | translate }}{{ 'COMMON.MARK.COLON' | translate }}
                    </label>

                    <div class="input-container">
                        <input id="register_repeat_password" type="password" class="form-control"
                               data-ng-model="register.editing.repeatPassword"/>
                    </div>
                <span data-ng-if="register.error.repeatPassword"
                      class="profile-login-password-error">{{register.error.repeatPassword}}</span>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default" data-ng-click="register.submit()">
                        {{ 'PROFILE.REGISTER_ACCOUNT' | translate }}
                    </button>
                    <button class="btn btn-default" data-ng-click="register.reset()">
                        {{ 'COMMON.LABEL.RESET' | translate }}
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
