<!DOCTYPE html>


<div data-ng-if="connectionExists">
    <p>
        <img src="" data-ng-src="media/{{providerId}}.png" />
        <a href="{{profileUrl}}" target="_blank">{{providerName}}</a>
        <button class="btn btn-default" data-ng-click="deleteConnection(providerId)">
            {{'PROFILE.PROVIDER.UNLINK' | translate }} {{providerName}} {{ 'PROFILE.ACCOUNT' | translate }}
        </button>
    </p>
</div>
<div data-ng-if="!connectionExists">
    <p>
        <img src="" data-ng-src="media/{{providerId}}.png" />
        {{providerName}}:
        <button class="btn btn-default" data-ng-click="providerLogin(providerId)">{{ 'PROFILE.PROVIDER.LINK_WITH' | translate }}
            {{providerName}}
        </button>
    </p>
</div>
