<div class="forum-header"><a href data-ui-sref="forum.list" translate="FORUM.SINGULAR"></a> ▸ {{forum.node.title}}</div>
<div class="forum-content">

    <p data-ng-if="status.logged">
        <button class="btn btn-default" data-ui-sref="forum.node.new-thread" translate="FORUM.THREAD.POST_NEW"></button>
    </p>
    <div data-ng-if="!status.logged">
        <p><a href data-ng-click="openIdService.loginAndComeBack()" translate="PROFILE.STATUS.SIGN_IN"></a> {{ 'FORUM.THREAD.ABLE_TO' | translate }}</p>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th translate="FORUM.SINGULAR"></th>
            <th translate="FORUM.STARTER"></th>
            <th translate="FORUM.POST.LAST"></th>
            <th translate="FORUM.REPLIES"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="thread in forum.node.threads | orderBy:'lastComment.date':true">
            <td><a href data-ui-sref="forum.thread({threadId: thread.id})">{{thread.title}}</a></td>
            <td>{{thread.author.username}}</td>
            <td>{{thread.lastComment.user.username}}<br/>{{thread.lastComment.date | fuzzyDate}}</td>
            <td>{{thread.commentCount  > 0 ? thread.commentCount - 1 : 0}}</td>
        </tr>
        </tbody>
    </table>
</div>
